<?php
return [
    // expire.php
    'max_articles_per_group' => 10000,

    // spoolnews.php
    'maxarticles_per_run' => 100,
    'maxfirstrequest' => 100,
    
    // Display short view of headers (only subject, name, date)
    'short_headers' => false,

    // Just leave this here to avoid comma errors
    'comma' => true
];
?>
