<?php
return [
    // expire.php
    'max_articles_per_group' => 10000,

    // spoolnews.php
    'maxarticles_per_run' => 100,
    'maxfirstrequest' => 100,
    
    // Disable spoolnews if less than this num in Gb free for spool
    'min_spool_disk_space' => 5,
    
    // If your remote_server is already filtered, enable this
    'disable_spamassassin_spooling' => true,
    
    // Display short view of headers (only subject, name, date)
    'short_headers' => true,

    // Log posts?
    'enable_post_log' => false,
    
    // Disable name/email spoof option in Configuration
    'disable_change_name' => false,
    
    // Disable Message-ID search in header
    'disable_msgid_search' => false,

    // Reserved aliases
    'reserved_names' => array("admin", "sysop", "rslight"),
    
    // Users who may have duplicate aliases in aliases.conf
    'duplicate_aliases' => array("admins user name here"),

    // Just leave this here to avoid comma errors
    'comma' => true
];
?>
