<?php
return [
    // expire.php
    'max_articles_per_group' => 10000,

    // spoolnews.php
    'maxarticles_per_run' => 100,
    'maxfirstrequest' => 100,
    
    // Disable spoolnews if less than this num in Gb free for spool
    'min_spool_disk_space' => 5,
    
    // If your remote_server is already filtered, enable this
    'disable_spamassassin_spooling' => true,
    
    // Display short view of headers (only subject, name, date)
    'short_headers' => true,

    // Display From to the right of Subject in short_headers
    // Default is false, will show separately (below)
    'short_header_show_from_in_subject' => false,

    // Enable display of References when using short headers
    // Default is false
    'short_header_references' => false,

    // Log posts?
    'enable_post_log' => false,
    
    // Require authentication for all commands to nntp server
    'nntp_full_auth_required' => false,

    // Disable name/email spoof option in Configuration
    'disable_change_name' => false,
    
    // Disable Message-ID search in header
    'disable_msgid_search' => false,
    
    // Display bot count in footer
    'count_bots' => false,

    // Set default for new registered users to 'show' or 'hide'
    // Unsubscribed groups (else default is 'hide')
    // Must be 'show' or 'hide'  
    'hide_unsub' => 'hide',

    // Show thread tree above articles in thread view
    // Default is false
    'show_thread_tree' => false,

    // Allow editing Newsgroups header when ...
    // Options: 'post', 'reply', 'both', 'none'
    // If not set, default = 'post'
    'allow_ng_header_edit' => 'post',

    // How many groups to allow in Newsgroups: header
    // Post and Reply may be different.
    // Default is post = 3, reply = 12
    'max_crosspost_post' => 3,
    'max_crosspost_reply' => 6,

    // This will disable newsgroups editing entirely if true 
    // Set to true to disable display and edit of newsgroups
    // header when posting
    // Default is false (newsgroups will display)
    'disable_ngs_edit' => false,

    // Reserved aliases
    'reserved_names' => array("admin", "sysop", "rslight"),
    
    // Users who may have duplicate aliases in aliases.conf
    'duplicate_aliases' => array("admins user name here"),

    // Disable display of X-Face
    'disable_xface' => false,

    // Set to false to NOT add '>' to quotes for blank lines
    // Default is true
    'quote_blank_lines' => true,

    // Show timezone converted to local (client) time as
    // 'offset' (-0400) or 'timezone' (EST)
    // Default is 'offset', which should be more reliable
    // as 'timezone' may have issues with daylight savings time
    'timezone_to_local_format' => 'offset',
   
    // How to format 'who wrote' quoting in reply:
    // 'On 4, Jan 2024, John Doe wrote:'
    // Options are:
    // 'date_name', 'msgid_name', 'date_msgid_name', or 'name'
    // Default is 'date_name'
    'quote_head' => 'date_name',
 
    // Disable immediate post insertion (wait for remote server)
    // for a SECTION. Comma separated list ex: 'rocksolid,section3,section5',
    'insert_disable' => 'sectionONE, sectionTWO',

    // Disable pushing articles to remote server for these sections
    // (replace 'testsection...' with your choice of sections)
    'disable_remote_push' => array("testsectionone", "testsectiontwo"),

    // Disable posting attachments by section
    // List section names to disable:
    // array("sectionONE", "sectionTWO", "sectionETC"),
    'disable_attach' => array("section"),

    // Default view for overboard ('threads' or 'articles')
    // If unset, default is 'articles'
    'overboard_default_view' => 'articles',

    // Send Admin debug messages
    // Some debug messages can be sent to admin by email 
    // Default is false
    'send_admin_debug_messages' => false,

    // Disable toggle to send interBBS Mail to email
    'disable_mail_to_email' => true,

    // Disable New Articles link on groups page
    'overboard_disable_new_link' => false,

    // Disable adding 'X-Rslight-*' headers to
    // outgoing messages
    'disable_rslight_headers' => false,

    // Set User-Agent: string (default = 'Rocksolid Light')
    // Set to '' for no User-Agent: header
    'user_agent' => 'Rocksolid Light',

    // Rate per second that a 'bot' may load pages
    'throttle_hits_bot_loadrate' => '.1',

    // Use this to create notices for things identified in msg body
    // 'regex' must be a full regex, including delimiters
    'display_notice_for_body_checks' => array(
        0 => array(
            'regex' => '/if this \$ is here/',
            'notice' => 'display this message'
        ),
        1 => array(
            'regex' => '/(invalid|really invalid)/',
            'notice' => 'article contains invalid formatting'
        )
    
    ),

    // Block connections when one of these strings is
    // contained in user_agent string
    // 'block_by_user_agent' => array("semrushbot", "bytespider"),

    // Block connections when one of these strings is
    // contained in reverse dns string
    // 'block_by_rdns' => array("hwclouds", "googlebot"),

    // Just leave this here to avoid comma errors
    'comma' => true
];
