:root {
  --color-dark: #E1EBF2;
  --color-medium: #CADCEB;
  --color-light: #ECF3F7;
  
  --color-header-background: #7C8891;
  --color-header-background-light: #CADCEB;
  --color-header-link: #ffffff;
  
  --color-section-background: #CADCEB;
  --color-section-link: #24669F;

  --color-text: #0C090A;
  --color-text-quote: #52595D;
  --color-highlight: #36013F;

  --color-link: #1052DA;
  --color-visited: #24669F;

  --color-border: #F5F7FA;
  --color-row-border: #4C5D77;

  /* Quote levels when displaying posts */
  --color-quote-level-0: #0C090A;
  --color-quote-level-1: #7070ff;
  --color-quote-level-2: #ff4500;
  --color-quote-level-3: #555555;
  --color-quote-level-4: #367588;
  --color-quote-level-5: #9932cc;
  --color-quote-level-6: #648c11;
  --color-quote-level-7: #009698;
  --color-quote-level-8: #9c7c38;

  /* Message count display */
  --color-message-age-1: red;
  --color-message-age-2: darkgoldenrod;
  --color-message-age-3: green;
  --color-message-age-old: #0C090A;
}
